* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
    scroll-behavior: smooth;
}

.slides {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: darkcyan;
    scroll-snap-align: start;
}


.slides img {
    width: 100px;
}

.slides h2 {
    font-size: 70px;
    font-weight: 600;
    max-width: 650px;
    transition: transform 50s ease-in-out; /* Add smooth transition for h2 */
}



.slide1, .slide3, .slidee3, .slide5, .slide7, .slide9, .slide11, .slide13 {
    background-color: black;
}

.slide2, .slide4, .slide6, .slide8, .slide10, .slide12 {
    background-color: black;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}



.slide1 img.centered-image {
    display: block;
    margin: 0 auto;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Apply the spin animation when the 'spin-animation' class is present */
.spin-animation {
    animation: spin 5s linear infinite;
}


/* typical web 2900px */
/* use approx 100px in cisco

1. 835 - 500
2.1100
3.200

*/ 
.slide1 img {
    width: 500px;
}

.slide2 img {
    width: 900px;
   
}
.slide3 img {
    
    width: 2900px;
}

.slidee3 img {
    
    width: 500px;
}

.slide4 img {
    width: 2500px;
}

.slide5 img {
    width: 950px;
}

.slide6 img {
    width: 850px;
}

.slide7 img {
    width: 950px;
}

.slide8 img {
    width: 850px;
}

.slide9 img {
    width: 850px;
}

.slide10 img {
    width: 850px;
}
.slide11 img {
    width: 850px;
}

.slide12 img {
    width: 850px;
}




